<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.panicape.wellnesscoin">

    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wellnesscoin">
        <activity
            android:name=".PausasMainActivity"
            android:exported="false" />
        <activity
            android:name=".Pausa_help_activity"
            android:exported="false" />
        <activity
            android:name=".ConfigActivity"
            android:exported="false" />
        <activity
            android:name=".HelpMainActivity"
            android:exported="false" />
        <activity
            android:name=".WebActivity"
            android:exported="false" />
        <activity
            android:name=".ValidatePausaActivity"
            android:exported="true" />
        <activity
            android:name=".WalkActivity"
            android:exported="true" />
        <activity
            android:name=".PausaHands"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".tools.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name=".tools.AlarmReceiver"
            android:enabled="true" />

        <service
            android:name=".tools.NotificationService"
            android:enabled="true" />
    </application>

</manifest>